@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 0.95rem;
}
body{
    background-color: #f3f3f3;
}



/* Media Queries */


@media (max-width: 991px) {
  .faq {
    margin-bottom: 30px;
  }
  .faq .card .card-header .faq-title {
    line-height: 26px;
    margin-top: 10px;
  }
  .navbar.navbar-expand-lg .navbar-brand{
    position: unset;
    margin: unset !important;
  }
  .navbar-nav.me-auto.mb-2.mb-lg-0 {
    margin-top: 20px;
  }
  .navbar.navbar-expand-lg .navbar-nav li {
    margin-right: 0px;
  }
  .navbar.navbar-expand-lg .nav-item a {
    text-align: center;
  }
  .banner_section .banner_sec_img img {
   display: none;
  }
  .banner_section .banner_tab {
    width: 100% !important;
  }
  .contact-area .contact-content img {
    max-width: 110px;
  }
  .faq-section .faq_img {
    margin-bottom: 20px;
  }
  }
  /* End Media Queries */


 .navbar-brand {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto !important;
  width: fit-content;
}
.banner_section{
  width: 100%;
  height: 500px;
  background-image: linear-gradient(to right, #171c40 , #002c80);
  position: relative;
}
.navbar.navbar-expand-lg.navbar-light.bg-light .container {
  width: 750px;
}
.nav-link.active {
  background: #f16d25;
  color: #fff !important;
  border-radius: 2px;
}
.navbar-brand img {
  width: 88px;
}
.navbar-nav li {
  margin-right: 15px;
}
.banner_sec_img{
  text-align: center;
  vertical-align: middle;
  display: table-cell;
}
.banner_sec_img img{
  width: 85%;
  margin-top: 50px;
}
.banner_section .banner_tab{
  width: 500px;
}
.banner_section .nav-item {
  width: 50%;
}
.banner_section .nav-item button {
  width: 100%;
}
.banner_section .banner_tab {
  width: 500px;
  margin: auto;
  position: absolute;
  right: 0;
  margin-top: 70px;
}

#inputGroup-sizing-default img {
  width: 21px;
}
#inputGroup-sizing-default\ pass img {
  width: 25px;
}
/* crypto table css */
#starred{
  box-shadow: 3px 3px 10px #b5b5b5;
}
.table div.text-muted{
  font-size: 0.85rem;
  font-weight: 600;
  margin-bottom: 0.3rem;
  margin-top: 0.3rem;
}
.icons{
  object-fit: contain;
  width: 25px;
  height: 25px;
  border-radius: 50%;
}
.graph img{
  object-fit: contain;
  width: 40px;
  height: 50px;
  transform: scale(2) rotateY(45deg);
}
.graph .dot{
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 3px solid #fff;
  position: absolute;
  background-color: #f16d25;
  box-shadow: 1px 1px 1px #a5a5a5;
  top: 25px;
}
.graph .dot:after{
  background-color: #fff;
  content: '$9,999.00';
  font-weight: 600;
  font-size: 0.7rem;
  position: absolute;
  top: -25px;
  left: -20px;
  box-shadow: 1px 1px 2px #a5a5a5;
  border-radius: 2px;
}
.font-weight-bold{
  font-size: 1.3rem;
  
}
#ethereum{
  transform: scale(2) rotateY(45deg) rotateX(180deg);
}
#ripple{
  transform: scale(2) rotateY(10deg) rotateX(20deg);
}
#eos{
  transform: scale(2) rotateY(50deg) rotateX(190deg);
}




/* utility classes */
.table tr td{
  border: none;
}
.red{
  color: #ff2f2f;
  font-weight: 700;
}
.green{
  color: #1cbb1c;
  font-weight: 700;
}
.labels,.graph{
  position: relative;
}
.green-label{
  background-color: #00b300;
  color: #fff;
  font-weight: 600;
  font-size: 0.7rem;
}
.orange-label{
  background-color: #ffa500;
  color: #fff;
  font-weight: 600;
  font-size: 0.7rem;
}
.border-right{
  transform: scale(0.6);
  border-right: 1px solid black!important;
}
.box{
  transform: scale(1.5);
  background-color: #dbe2ff;
}
#top .table tbody tr{
  border-bottom: 1px solid #ddd;
}
#top .table tbody tr:last-child{
  border: none;
}
select{
  background-color: inherit;
  padding: 8px;
  border-radius: 5px;
  color: #444;
  border: 1px solid #444;
  outline-color: #00f;
}
.text-white{
  background-color: rgb(43, 159, 226);
  border-radius: 50%;
  font-size: 0.7rem;
  font-weight: 700;
  padding: 2px 3px;
}
a:hover{
  text-decoration: none;
}
a:hover .text-white{
  background-color: rgb(20, 92, 187);
}
b {
  font-weight: 500 !important;
}



/* End crypto table css */


.blog .carousel-indicators {
	left: 0;
	top: auto;
    bottom: -40px;

}




/* FAQ Section */

.faq-section {
  background: #fdfdfd;
  min-height: 750px;
  padding: 10vh 0 0;
}
.hover-target img {
  width: 23px;
}
.faq-title h2 {
position: relative;
margin-bottom: 45px;
display: inline-block;
font-weight: 600;
line-height: 1;
}
.faq-title h2::before {
  content: "";
  position: absolute;
  left: 50%;
  width: 60px;
  height: 2px;
  background: #f16d25;
  bottom: -25px;
  margin-left: -30px;
}
.faq-title p {
padding: 0 190px;
margin-bottom: 10px;
}

.faq {
background: #FFFFFF;
box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.06);
border-radius: 4px;
}

.faq .card {
border: none;
background: none;
border-bottom: 1px dashed #CEE1F8;
}

.faq .card .card-header {
padding: 0px;
border: none;
background: none;
-webkit-transition: all 0.3s ease 0s;
-moz-transition: all 0.3s ease 0s;
-o-transition: all 0.3s ease 0s;
transition: all 0.3s ease 0s;
}

.faq .card .card-header:hover {
  background: #f16d251c;
  padding-left: 10px;
}
.faq_img {
  text-align: center;
}
.faq_img img{
  width: 75%;
}
.faq .card .card-header .faq-title {
width: 100%;
text-align: left;
padding: 0px;
padding-left: 30px;
padding-right: 30px;
font-weight: 400;
font-size: 15px;
letter-spacing: 1px;
color: #3B566E;
text-decoration: none !important;
-webkit-transition: all 0.3s ease 0s;
-moz-transition: all 0.3s ease 0s;
-o-transition: all 0.3s ease 0s;
transition: all 0.3s ease 0s;
cursor: pointer;
padding-top: 20px;
padding-bottom: 20px;
}

.faq .card .card-header .faq-title .badge {
display: inline-block;
width: 20px;
height: 20px;
line-height: 14px;
float: left;
border-radius: 100px;
text-align: center;
background: #f16d25;
color: #fff;
font-size: 12px;
margin-right: 20px;
}

.faq .card .card-body {
padding: 30px;
padding-left: 35px;
padding-bottom: 16px;
font-weight: 400;
font-size: 16px;
color: #6F8BA4;
line-height: 28px;
letter-spacing: 1px;
border-top: 1px solid #F3F8FF;
}

.faq .card .card-body p {
margin-bottom: 14px;
}


/* End FAQ Section */


/* Footer */
.contact-area img {
  max-width: 100%;
  height: auto;
}
.contact-area section {
          padding: 60px 0;
}
.contact-area ul {
          margin: 0;
          padding: 0;
          list-style: none;
}
.contact-area {
  border-bottom: 1px solid #353C46;
}

.contact-content p {
  font-size: 15px;
  margin: 30px 0 60px;
  position: relative;
}

.contact-content p::after {
  background: #353C46;
  bottom: -30px;
  content: "";
  height: 1px;
  left: 50%;
  position: absolute;
  transform: translate(-50%);
  width: 80%;
}

.contact-content h6 {
  color: #8b9199;
  font-size: 15px;
  font-weight: 400;
  margin-bottom: 10px;
}

.contact-content span {
  color: #353c47;
  margin: 0 10px;
}

.contact-social {
  margin-top: 30px;
}

.contact-social > ul {
  display: inline-flex;
}

.contact-social ul li a {
  border: 1px solid #8b9199;
  color: #8b9199;
  display: inline-block;
  height: 40px;
  margin: 0 10px;
  padding-top: 7px;
  transition: all 0.4s ease 0s;
  width: 40px;
  border-radius: 50px;
}

.contact-social ul li a:hover {
  border: 1px solid #FAB702;
  color: #FAB702;
}

.contact-content img {
  max-width: 210px;
}

.contact-area, footer {
  background: #1A1E25;
  color: #868c96;
}
.contact-area .container .row {
  padding: 40px;
}
footer p {
  padding: 40px 0;
  text-align: center;
  margin-bottom: 0;
}

footer img {
  width: 44px;
}
/* End Footer */



.advance_section card:nth-child(2n) .avd_sec {
  background: #ffc66c2b;
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 20px;
  border: 1px #ffc66c dashed;
  text-align: center;
}
.advance_section card .avd_sec {
  background: #6cacff3d;
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 20px;
  border: 1px #6cacff dashed;
  text-align: center;
}
.avd_sec_icons img {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40px;
}
.avd_sec_icons {
  position: relative;
  height: 91px;
}
.avd_sec h5 {
  margin-bottom: 20px;
  margin-top: 16px;
  font-weight: 500;
}
.form-control, button {
  height: 45px;
}

.banner_section .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  color: #f16d25 !important;
  background-color: #fff;
  border-bottom: 2px solid #f16d25!important;
  font-weight: bold ;
  border-top: unset ;
  border-left: unset ;
  border-right: unset ;
}
.banner_section .nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
  border-color: #fff ;
  border-bottom: 1px solid rgb(205, 205, 205) ;
  font-weight: bold ;
  border-top: unset ;
  border-left: unset ;
  border-right: unset ;
  color: #f16d25 !important;
}
.banner_section  .nav-tabs .nav-link{
  border-radius: unset ;
}
.banner_section .nav-link {
  display: block;
  padding: .5rem 1rem;
  color: #551e00;
  text-decoration: none;
  transition: unset;
  font-weight: 500;
}
.banner_tab .btn-primary:hover {
  color: #fff;
  background-color: #f98647;
  border-color: #ff9b64;
}
.banner_tab .btn-primary {
  color: #fff;
  background-color: #f16d25;
  border-color: #f16d25;
}

